# ExtremeKernel config file for enabling KSU
# This file gets merged with the device-specific defconfig on kernel compilation
# Kernel defconfigs are left stock with minimal edits while this file includes all of the major modifications done to the kernel config
#2024.12.13 add SUSFS

# Enable KSU + SUSFS
CONFIG_KSU=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_ALLOWLIST_WORKAROUND=y

# Enable KSU SuSFS
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_SUS_PATH=y

# SuSFS Settings
# CONFIG_KSU_SUSFS_SUS_SU is not set
# CONFIG_KSU_SUSFS_SUS_PATH is not set
# EOF

